<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Atualizar Farmaco</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">          
      
    </head>
    <body>
	<h1>Atualizar Farmaco</h1>
	<form action="#" 
	  th:action="@{/atualizar/{id}(id=${farmaco.id})}" 
	  th:object="${farmaco}" 
	  method="POST">
	    <form action="#" th:action="@{/addfarmaco}" th:object="${farmaco}" method="POST" class"contato">
	    <label for="name">Nome</label>
	    <input type="text" th:field="*{nome}" id="name" placeholder="Nome" required>
	    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	    <br>
		<label for="valor">Valor</label>
	    <input type="text" th:field="*{valor}" id="valor" placeholder="valor" requerid>
	    <span th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span>
	    <br>
	    <label for="tipo">Tipo</label>
	    <input type="text" th:field="*{tipo}" id="tipo" placeholder="tipo" requerid>
	    <span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span>
	    <br>
	    <input type="submit" value="Update Farmaco">   
	</form>
    </body>
</html>

